# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyo
*.pyc

# Virtual Environment
venv/
env/
ENV/

# Docker
.docker/
docker-compose.override.yml
docker-compose.yml
.dockerignore

# VSCode
.vscode/
.history/
*.code-workspace

# Other
*.log
*.pot
*.pyc
*.swp
*.swo
*.db
*.sqlite
*.sqlite3
*.log
*.xlsx
*.xlsb
*.xls
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.tif
*.tiff
*.svg
*.webp
*.mp4
*.mkv
*.mov
*.wmv
*.avi
*.mpg
*.mpeg
*.vob
*.ogv
*.oga
*.flac
*.mp3
*.wav
*.opus
*.eot
*.ttf
*.woff
*.woff2
*.svg
*.ico
*.pdf
*.zip
*.gz
*.tar.gz
*.rar
*.7z
*.bz2
*.xz
*.exe
*.dll
*.obj
*.lib
*.pdb
*.idb
*.ilk
*.msm
*.msp
*.cab
*.pbxproj
*.xcworkspace
*.perspectivev3
*.perspectivev3state
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.log